<div class="<%= (MessageService.currentUserIsSender(req, message))
    ? 'messageRed' : 'messageGreen' %>">
  <p class="messageHeader"> <% if (!message.wasRead()) { %>
    <span class="label label-default"><%- i18n('New') %>&nbsp;</span>
    <% } %>
    <span class="timestamp" data-timestamp="<%- message.getTimestamp() %>"><%- LocaleService.formatTimestamp(message.getTimestamp()) %></span>
      <i><%- message.getSender().getUsername()%></i></p>

  <p><%- MessageService.prepareMessageForView(res, message) %></p>
</div>

<div class="clearfix"></div>
<% block('localScripts', '<script src="/js/localscripts/date.js"></script>') %>
