<div class="crudbtn btn-group-vertical" role="group">
  <% if (OfferService.belongsToCurrentUser(req, offer)) { %>
  <a href="<%= OfferService.getEditUrl(offer) %>"><span class="icon-pencil btnIcon" aria-hidden="true"></span></a>

  <a class="showYesNoDialog"
     data-yesActionUrl="<%= OfferService.getDeleteUrl(offer) %>"
     data-title="<%- i18n('Delete offer?') %>"
     data-body="<%- i18n('Are you sure to delete this offer? This cannot be undone.') %>"
     data-yesActionLabel="<%- i18n('Delete') %>"
     data-noActionLabel="<%- i18n('Cancel') %>"
    >

    <span class="icon-bin btnIcon" aria-hidden="true"/></a>
  <% } %>
</div>
