    <li class="listItem">
        <% // I'm actually not sure why we need to unserialize again, but the following line is really important when this partial is used during an AJAX action, do not remove! %>
        <% demand = ApiClientService.newDemand().loadFromSerialized(demand) %>

        <%- partial ('../partials/crudButtonsDemands.ejs',{demand: demand}) %>
        <div class="media-body">
        <h4 class="media-heading title"><%= demand.getMustTags() %></h4>
        <p><%= demand.getShouldTags() %></p>
        <p><%= i18n('Distance')%>:<%= demand.getDistance() %></p>
        <p><%= i18n('Price')%>:<%= demand.getPrice().getMin() %> - <%= demand.getPrice().getMax() %><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
        <p><strong><%= demand.getUser().getUsername() %></strong></p>
      </div>
    </li>
