<li class="demands listItem">
  <% // I'm actually not sure why we need to unserialize again, but the following line is really important when this partial is used during an AJAX action, do not remove!                                        %>
  <% demand = ApiClientService.newDemand().loadFromSerialized(demand) %>
  <div class="cardHeader">
    <p class="cardTitle text-center"><span class="icon-search"></span>
      <%= i18n('Demand') %> </p>
  </div>
  <%- partial('../partials/crudButtonsDemands.ejs', {demand: demand}) %>
  <div class="cardImage">
    <table class="tagTable table-striped">
      <tr class="title">
        <td>
          <h4><%= i18n('I am looking for:') %></h4>
        </td>
      </tr>
      <tr>
        <td class="tags">
          <%= demand.getMustTags().join(", ") %>
        </td>
      </tr>
    </table>

    <% if (demand.getShouldTags().length > 0) {%>
    <table class="tagTable table-striped">
      <tr class="title">
        <td>
          <h4><%= i18n('It should have:') %></h4>
        </td>
      </tr>
      <tr>
        <td class="tags">
          <%= demand.getShouldTags().join(", ") %>
        </td>
      </tr>
    </table>
    <% } %>
  </div>
  <div class="caption">
    <table class="table-striped">
      <tr>
        <td><%= i18n('Distance') %>:</td>
        <td><%= demand.getDistance() %> km</td>
      </tr>
      <tr>
        <td><%= i18n('Price') %>:</td>
        <td><%= demand.getPrice().getMin() %> - <%= demand.getPrice().getMax() %></td>
      </tr>
      <tr>
        <td><%= i18n('Creator') %>:</td>
        <td><%= demand.getUser().getUsername() %></td>
      </tr>
    </table>
  </div>
</li>
