<li class="demands ">
  <% // I'm actually not sure why we need to unserialize again, but the following line is really important when this partial is used during an AJAX action, do not remove!                       %>
  <% demand = ApiClientService.newDemand().loadFromSerialized(demand) %>
  <div class="innerBorder">
    <h3><%= i18n('I am looking for:') %></h3>
    <%- partial('../partials/crudButtonsDemands.ejs', {demand: demand}) %>
    <hr>
    <h4><%= i18n('Must have`s') %></h4>


    <ul>
      <% demand.getMustTags().forEach(function(mustTags){ %>
      <li>
        <%= mustTags %>
      </li>
      <% }) %>
    </ul>

    <h4><%= i18n('Should have`s') %></h4>

    <ul>
      <% demand.getShouldTags().forEach(function(shouldTags){ %>
      <li>
        <%= shouldTags %>
      </li>
      <% }) %>
    </ul>

    <h4><%= i18n('Distance') %>:
    </h4>
    <span><%= demand.getDistance() %> km</span>


    <h4><%= i18n('Price') %>:</h4>
      <span><%= demand.getPrice().getMin() %> - <%= demand.getPrice().getMax() %><span
          class="glyphicon glyphicon-euro " aria-hidden="true"></span></span>
  </div>
</li>
