<header id="header">
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <h1><a href="<%= UrlService.to('/') %>">Neeedo
        </a></h1>
    </div>
    <!--2 x col-xs-3-->
    <%- partial('./registerPartial.ejs') %>
    <%- partial('./login.ejs') %>
    <!--2 x col-xs-3-->

    <div class="col-xs-1 headerIcon ">
      <% if (LoginService.userIsLoggedIn(req)) { %>
      <a href="<%= UrlService.to('/mailbox') %>"><span class="icon-mail4" id="newMsgCount"></span></a>
      <% } %>
    </div>

    <div class="col-xs-1 headerIcon">

      <% // list all available locales / languages and provide link to set             %>
      <% for (var localeI = 0; localeI < LocaleService.getAvailableLocales().length; localeI++) { %>
      <% var locale = LocaleService.getAvailableLocales()[localeI] %>
      <a href="<%= UrlService.to(LocaleService.getSetLocaleUrl(locale)) %>">
        <%= locale %>
      </a>
      <% } %>
    </div>
  </div>
</header>

<% block('localScripts', '<script src="/js/localscripts/messages.js"></script>') %>
