<div>
 <% if (!LoginService.userIsLoggedIn(req)) { %>
  <form method="POST" id="login" action="<%= UrlService.to('/login') %>">
      <div class="row">
        <div class="col-xs-3">
          <label for="email"><%= i18n('E-Mail') %></label>
        </div>
        <div class="col-xs-6">
          <input type="email" name="email" required/>
        </div>
        </div>
    <div class="row">
        <div class="col-xs-3">
          <label for="password"><%= i18n('Password') %></label>
        </div>
        <div class="col-xs-6">
          <input type="password" name="password" required/>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
          <input type="submit" value="<%= i18n('Login') %>" id="sendbtn" />
        </div>
      </div>
    </form>
   <% } %>

  <% if (LoginService.userIsLoggedIn(req)) { %>
  <form method="POST" id="login" action="<%= UrlService.to('/logout') %>">
   <div class="row">
          <div class="col-md-1">
            <p><%= i18n('Hello %s!', LoginService.getCurrentUser(req).getUsername()) %></p>
          </div>
          <div class="col-md-6">
            <input type="submit" value="<%= i18n('Logout') %>" id="sendbtn" />
          </div>
        </div>
    </form>
    <% } %>
</div>
