<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left hidden-xs" id="cbp-spmenu-s1">
  <a href="<%= UrlService.to('/') %>"><%= i18n('Home') %></a>
  <% if (!LoginService.userIsLoggedIn(req)) { %>
  <a href="<%= UrlService.to('/register') %>"><%= i18n('Register') %></a>
  <a href="<%= UrlService.to('/register') %>"><%= i18n('Login') %></a>
  <% } %>
  <a href="<%= UrlService.to('/offers/create') %>"><%= i18n('Create offer') %></a>
  <a href="<%= UrlService.to('/demands/create') %>"><%= i18n('Create demand') %></a>
  <button id="showLeft">M<br />e<br />n<br /><%= i18n('u') %></button>
</nav>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left visible-xs" id="cbp-spmenu-s2">
  <a href="<%= UrlService.to('/') %>"><%= i18n('Home') %></a>
  <% if (!LoginService.userIsLoggedIn(req)) { %>
  <a href="<%= UrlService.to('/register') %>"><%= i18n('Register') %></a>
  <a href="<%= UrlService.to('/register') %>"><%= i18n('Login') %></a>
  <% } %>
  <a href="<%= UrlService.to('/offers/create') %>"><%= i18n('Create offer') %></a>
  <a href="<%= UrlService.to('/demands/create') %>"><%= i18n('Create demand') %></a>
</nav>