<li class="listItem">
  <div class="media-left">
    <a href="<%- OfferService.getViewUrl().replace('%%offerId%%', offer.getId()) %>">
      <img class="offerImageSmall" src="<%- OfferService.getFirstImage(offer).path %>" alt="<%- OfferService.getFirstImage(offer).altText %>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading title"><%= offer.getTags()%></h4>
    <p><%= i18n('Price')%>:<%= offer.getPrice() %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
    <p><strong><%= offer.getUser().getUsername() %></strong></p>
    <%- partial ('../partials/crudButtonsOffer.ejs',{offer: offer}) %>
  </div>
</li>



