<img src="/images/demand_Dummy.png" alt="demand">
<div class="carousel-caption">
  <div class="container col-md-6 slidercard">
    <%- partial ('../partials/crudButtonsDemands.ejs',{demand: demand}) %>
    <div class="media">
      <div class="media-body">
        <% for (var tagI = 0; tagI < demand.getMustTags().length; tagI++) { %>
          <% var mustTag = demand.getMustTags()[tagI]; %>
          <% if (0 == tagI) { %>
            <h4 class="media-heading title"><%= mustTag %></h4>
          <% } else { %>
            <p><%= mustTag %></p>
          <% } %>
        <% } %>s
        <p><%= demand.getShouldTags() %></p>
        <p><%= i18n('Distance')%>:<%= demand.getDistance() %></p>
        <p><%= i18n('Price')%>:<%= demand.getPrice().getMin() %> - <%= demand.getPrice().getMax() %><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
      </div>
    </div>
  </div>
</div>


