<div id=main class="container">
  <!--LINKS or TUTORIALS?-->
  <div class="contentContainer">

    <div class="description">
        <h1 id="welcome"class="text-center"><%= i18n('Hello, %s!', LoginService.getCurrentUser(req).getUsername()) %></h1>
    </div>
    <% /* TODO this is not nice and should be refactored -> split homepage.ejs, offer dashboard.ejs for logged-in users and homepage.ejs for not-logged in ones */ %>
    <div id="mapContainer">
      <% if (false !== showMap)  { %>
      <h1><%= i18n('Your map') %></h1>
      <%- partial('./partials/map/map.ejs', {
        mapType: showMap.mapType,
        demandSourceUrl: showMap.demandSourceUrl,
        offerSourceUrl: showMap.offerSourceUrl,
        demandMatchingSourceUrl: undefined,
        showDetailsLink: true
      }) %>
      <% } %>
    </div>
  </div>
  <div class="hidden-xs contentContainer">
    <h1><%= i18n('Your Offers') %> <a class="createLink" href="<%= OfferService.getCreateUrl() %>"></a></h1>
    <ul id="lightSliderOffer"
        data-itemLimit="<%- pagination.limit %>"
        data-currentPage="<%- pagination.firstPageNumber %>"
        data-sourceUrl="<%- offerSourceUrl %>"
        data-viewUrl="<%- OfferService.getViewUrl() %>"
        data-translationPrice="<%= i18n('Price') %>"
        data-displayFavorite="false"
      >
      <% if(offers.length == 0){ %>
      <div class="noitemSlider">
        <%= i18n('You did not create any offers,yet. Click the "+"-button above to create your first offer') %>
      </div>
      <% }
        offers.forEach(function(offer) { %>
      <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: false}) %>
      <% }); %>
    </ul>
    <h1><%= i18n('Your Demands') %><a class="createLink" href="<%= DemandService.getCreateUrl() %>"></a>
    </h1>
    <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>"
        data-currentPage="<%- pagination.firstPageNumber %>"
        data-sourceUrl="<%- demandSourceUrl %>"
        data-viewUrl="<%- DemandService.getViewUrl() %>"
        data-translationPrice="<%= i18n('Price') %>"
        data-translationDistance="<%= i18n('Distance') %>"
      >
      <% if(demands.length == 0){ %>
      <div class="noitemSlider">
        <%= i18n('You did not create any demands,yet. Click the "+"-button above to create your first demand') %>
      </div>
      <% }
        demands.forEach(function(demand) { %>
      <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
      <% }); %>
    </ul>
  </div>
  <!-- Big Screen-->
  <div class="visible-xs">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li><a href="#section-1" class="icon-offer"><span>
                    <%= i18n('Your Offers') %>
                  </span></a>
          </li>
          <li><a href="#section-2" class="icon-newspaper"><span>
                    <%= i18n('Your Demands') %>
                  </span></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <% offers.forEach(function(offer) { %>
          <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: false}) %>
          <% }); %>
        </section>
        <section id="section-2">
          <% demands.forEach(function(demand) { %>
          <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
          <% }); %>
        </section>
      </div>
      <!-- /content -->
    </div>
    <!-- /tabs -->
    <!--Small Screen-->
  </div>
  <!--Main Container-->
</div>
<% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>

