<div id=main class="container">
  <!--LINKS or TUTORIALS?-->
  <div class="contentContainer">

    <div class="description">
      <h1 id="welcome"
          class="text-left"><%= i18n('Hello %s!', LoginService.getCurrentUser(req).getUsername()) %></h1>


      <div class="btn-group btn-group-justified status hidden-xs" role="group" aria-label="...">
        <div class="btn-group " role="group">
          <h2 class="statusLable"><%= i18n('status') %></h2>
        </div>
        <div class="btn-group" role="group">
          <button type="button " onclick="window.location.href='#moc'" class="neeedoBtn neeedoBtn--nuka"><%= i18n('%s Offers',
              (offers.length >= pagination.limit) ? pagination.limit + "+" : offers.length) %></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" onclick="window.location.href='#mdc'" class="neeedoBtn neeedoBtn--nuka"><%= i18n('%s Demands',
              (demands.length >= pagination.limit) ?  pagination.limit + "+" : demands.length) %></button>
        </div>
      </div>

      <div class="status visible-xs statusSmall">
        <h2 class="statusLable"><%= i18n('status') %></h2>
        <button type="button " onclick="window.location.href='#tabs'" class="neeedoBtn neeedoBtn--nuka"><%= i18n('%s Offers',
            (offers.length >= pagination.limit) ? pagination.limit + "+" : offers.length) %></button>
        <button type="button" onclick="window.location.href='#tabs'" class="neeedoBtn neeedoBtn--nuka"><%= i18n('%s Demands',
            (demands.length >= pagination.limit) ? pagination.limit + "+" : demands.length) %></button>
      </div>
    </div>
    <div id="mapContainer">
      <% if (false !== showMap)  { %>
      <h1><%= i18n('Your map') %></h1>
      <%- partial('./partials/map/map.ejs', {
        mapType: showMap.mapType,
        demandSourceUrl: showMap.demandSourceUrl,
        offerSourceUrl: showMap.offerSourceUrl,
        demandMatchingSourceUrl: undefined,
        showDetailsLink: true
      }) %>
      <% } %>
    </div>
  </div>
  <div class="hidden-xs ">
    <div class="contentContainer" id="moc">
      <h1><%= i18n('My Offers') %> <a class="createLink" href="<%= OfferService.getCreateUrl() %>"></a></h1>
      <% if(offers.length == 0){ %>
      <div class="noItemSlider">
        <%= i18n('nooffers') %>
      </div>
      <% } %>
      <ul id="lightSliderOffer"
          data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- offerSourceUrl %>"
          data-viewUrl="<%- OfferService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-displayFavorite="false"
        >

        <% offers.forEach(function(offer) { %>
        <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: false}) %>
        <% }); %>
      </ul>
    </div>
    <div class="contentContainer" id="mdc">
      <h1><%= i18n('My Demands') %><a class="createLink" href="<%= DemandService.getCreateUrl() %>"></a>
      </h1>
      <% if(demands.length == 0){ %>
      <div class="noItemSlider">
        <%= i18n('nodemands') %>
      </div>
      <% } %>
      <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- demandSourceUrl %>"
          data-viewUrl="<%- DemandService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-translationDistance="<%= i18n('Distance') %>"
        >
        <% demands.forEach(function(demand) { %>
        <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
        <% }); %>
      </ul>
    </div>
  </div>
  <!-- Big Screen-->
  <div class="visible-xs">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li><a href="#section-1" class="icon-offer text-center"></a>
          </li>
          <li><a href="#section-2" class="icon-search text-center"></a>
          </li>
        </ul>
      </nav>
      <div class="content contentContainer">
        <section id="section-1">
          <% if(offers.length == 0){ %>
          <%= i18n('nooffers') %>
          <% }
            offers.forEach(function(offer) { %>
          <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: false}) %>
          <% }); %>
        </section>
        <section id="section-2">
          <% if(demands.length == 0){ %>
          <%= i18n('nodemands') %>
          <% }
            demands.forEach(function(demand) { %>
          <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
          <% }); %>
        </section>
      </div>
      <!-- /content -->
    </div>
    <!-- /tabs -->
    <!--Small Screen-->
  </div>
  <!--Main Container-->
</div>
<% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>

