<div id="main" class="container">
  <!-- Description of our Site for unregistered Users-->
  <!--LINKS or TUTORIALS?-->
  <div class="contentContainer">
    <div class="text-center description" id="descriptionContainer">
      <h1 id="welcome"><%= i18n('Welcome to Neeedo.com') %></h1>
      <div class="mediumDescription">
        <div class="row">
          <div class="col-xs-4 descriptionText">
            <p>
              Für uns als Einkäufer gibt es nichts nervigeres als sich erst durch Seiten von Angeboten zu klicken bevor
              man das findet was man sucht.
              Wir haben daher unsere Suche so aufgebaut, dass der Kunde exakt das eingeben kann was für ihn wichtig ist,
              und das auch findet.
            </p>
          </div>
          <div class="col-xs-4 descriptionText">
            <p>
              Wir nutzen verschiedene Methoden um das Einkaufen für unsere Nutzer zu vereinfachen.
              Das bedeutet für uns auch, dass ihm in erster Linie die Sachen angeboten werden die er auch finden
              möchte.
            </p>
          </div>
          <div class="col-xs-4 descriptionText">
            <p>
              Es lag uns von Beginn an am Herzen den regionalen Markt zu unsterstützen.
              Daher legen wir besonderen Wert darauf, dass die angebotenen Waren so gut erreichbar wie möglich sind.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button onclick="window.location.href='/#demandContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Search for what you really need') %></button>
          </div>
          <div class="col-xs-4">
            <button onclick="window.location.href='/#offerContainer'"
              class="neeedoBtn neeedoBtn--nuka "><%= i18n('Find what you`re really looking for') %></button>
          </div>
          <div class="col-xs-4">
            <button onclick="window.location.href='/#mapContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Everything at your nearest') %></button>
          </div>
        </div>
      </div>
      <div class="smallDescription">
        <div class="row">
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              Für uns als Einkäufer gibt es nichts nervigeres als sich erst durch Seiten von Angeboten zu klicken bevor
              man das findet was man sucht.
              Wir haben daher unsere Suche so aufgebaut, dass der Kunde exakt das eingeben kann was für ihn wichtig ist,
              und das auch findet.
            </p>
            <button onclick="window.location.href='/#tabs'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Search for what you really need') %></button>
          </div>
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              Wir nutzen verschiedene Methoden um das Einkaufen für unsere Nutzer zu vereinfachen.
              Das bedeutet für uns auch, dass ihm in erster Linie die Sachen angeboten werden die er auch finden
              möchte.
            </p>
            <button onclick="window.location.href='/#tabs'"
              class="neeedoBtn neeedoBtn--nuka "><%= i18n('Find what you`re really looking for') %></button>
          </div>
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              Es lag uns von Beginn an am Herzen den regionalen Markt zu unsterstützen.
              Daher legen wir besonderen Wert darauf, dass die angebotenen Waren so gut erreichbar wie möglich sind.
            </p>
            <button onclick="window.location.href='/#mapContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Everything at your nearest') %></button>
          </div>
        </div>
      </div>
    </div>
    <div id="mapContainer">
      <% if (false !== showMap)  { %>
      <h1><%= i18n('In Your Vicinity') %></h1>
      <%- partial('./partials/map/map.ejs', {
        mapType: showMap.mapType,
        demandSourceUrl: showMap.demandSourceUrl,
        offerSourceUrl: showMap.offerSourceUrl,
        demandMatchingSourceUrl: undefined,
        showDetailsLink: true
      }) %>
      <% } %>
    </div>
  </div>

  <div class="hidden-xs">
    <div class="contentContainer" id="offerContainer">
      <h1><%= i18n('Recent Offers') %></h1>
      <ul id="lightSliderOffer"
          data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- offerSourceUrl %>"
          data-viewUrl="<%- OfferService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-displayFavorite="true"
        >
        <% if(offers.length == 0){ %>
        <div class="noitemSlider">
          <p><%= i18n('We could not find any offers to present to you. You can create your own one now ') %></p>
        </div>
        <% }
          offers.forEach(function(offer) { %>
        <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
        <% }); %>
      </ul>
    </div>

    <div class="contentContainer" id="demandContainer">
      <h1><%= i18n('Recent Demands') %></h1>
      <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- demandSourceUrl %>"
          data-viewUrl="<%- DemandService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-translationDistance="<%= i18n('Distance') %>"
        >
        <% if(demands.length == 0){ %>
        <div class="noitemSlider">
          <p> <%= i18n('No demands have been created recently. You can create your own one now') %></p>
        </div>
        <% }
          demands.forEach(function(demand) { %>
        <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
        <% }); %>
      </ul>
    </div>
  </div>
  <!-- Big Screen-->
  <div class="visible-xs">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li>
            <a href="#section-1" class="icon-offer text-center"></a>
          </li>
          <li><a href="#section-2" class="icon-search text-center"></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <% offers.forEach(function(offer) { %>
          <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
          <% }); %>
        </section>
        <section id="section-2">
          <% demands.forEach(function(demand) { %>
          <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
          <% }); %>
        </section>
      </div>
      <!-- /content -->
    </div>
    <!-- /tabs -->
    <!--Small Screen-->
  </div>
  <!--Main Container-->
  <div class="contentContainer text-center">
    <h1 class="center title">"Gibt's das auch als App?"</h1>

    <p class="descriptionText">Wir arbeiten hart an der Umsetzung unsere Mobile App. Einen Prototyp können Sie hier am Stand
      bereits betrachten</p>

    <a href="<%- sails.config.webapp.android.playStore %>" alt="<%- i18n('Link to Android App') %>"><p class="center"><img src="images/appStore.png" class="centralImage"/></a>
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>


