<div id= main class="container">

  <div class="container hidden-xs " id="bigScreen">

    <div class="container">

      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Offers')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Offers')%></h1>
      <%}%>
      <div class="container elementWrapper ">
        <ul id="lightSliderOffer">
          <% offers.forEach(function(offer) { %>
          <%- partial ('./partials/offersForList.ejs',{offer: offer}) %>
          <% }); %>
        </ul>
      </div>

      <div class="container elementWrapper  ">
        <% if (false !== showMap)  { %>
        <%- partial ('./partials/map/map.ejs', { mapType: showMap.mapType, demandSourceUrl: showMap.demandSourceUrl, offerSourceUrl: showMap.offerSourceUrl, demandMatchingSourceUrl: undefined}) %>
        <% } %>
      </div>
      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Demands')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Demands')%></h1>
      <%}%>
      <div class="container elementWrapper ">
          <ul id="lightSliderDemand" >
            <% demands.forEach(function(demand) { %>
            <%- partial ('./partials/demandsForList.ejs',{demand: demand}) %>
            <% }); %>
          </ul>
        </div>
    </div>
  </div> <!-- Big Screen-->

  <div class="container visible-xs-block">

    <div class=" elementWrapper">
      <div class="tabPanel" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
          <li role="presentation" class="active"><a href="#demands" aria-controls="demands" role="tab" data-toggle="tab"><%= i18n('Demands')%></a></li>
          <li role="presentation"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab"><%= i18n('Offers')%></a></li>
          <li role="presentation"><a href="#smallMap" aria-controls="smallMap" role="tab" data-toggle="tab"><%= i18n('Map')%></a></li>

        </ul>
      </div> <!--TabPanel-->

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="demands">
          <ul>
          <% demands.forEach(function(demand) { %>
             <%- partial ('./partials/demandsForList.ejs',{demand: demand}) %>
            <% }); %>
          </ul>
        </div>

        <div role="tabpanel" class="tab-pane" id="offers">
          <ul>
            <% offers.forEach(function(offer) { %>
            <%- partial ('./partials/offersForList.ejs',{offer: offer}) %>
            <% }); %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="smallMap" >
          <h1>MAP</h1>
        </div>
      </div>    <!-- Tab panes -->
    </div>
  </div> <!--Small Screen-->

</div> <!--Main Container-->

<script>


</script>
