<div id= main class="container">
  <div class="container hidden-xs" id="bigScreen">
    <ul id="lightSliderOffer">
      <% offers.forEach(function(offer) { %>
      <%- partial ('./partials/recentOffersSmall.ejs',{offer: offer}) %>
      <% }); %>
    </ul>
    <ul id="lightSliderDemand">
      <% demands.forEach(function(demand) { %>
      <%- partial ('./partials/recentDemandsSmall.ejs',{demand: demand}) %>
      <% }); %>
    </ul>
  </div> <!-- Big Screen-->

  <div class="container visible-xs-block">

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#demands" aria-controls="demands" role="tab" data-toggle="tab"><%= i18n('Demands')%></a></li>
        <li role="presentation"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab"><%= i18n('Offers')%></a></li>
           </ul>

    </div> <!--TabPanel-->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="demands">
       <ul>
        <% demands.forEach(function(demand) { %>
        <%- partial ('./partials/recentDemandsSmall.ejs',{demand: demand}) %>
        <% }); %>
       </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="offers">
        <ul>
          <% offers.forEach(function(offer) { %>
          <%- partial ('./partials/recentOffersSmall.ejs',{offer: offer}) %>
          <% }); %>
        </ul>
      </div>
    </div>    <!-- Tab panes -->

  </div> <!--Small Screen-->

</div> <!--Main Container-->

<script>


</script>
