<div id= main class="container">

  <div class="container hidden-xs " id="bigScreen">

    <div class="container">
      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Offers')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Offers')%></h1>
      <%}%>
      <div class="container elementWrapper ">
        <ul id="lightSliderOffer" data-itemLimit="<%- pagination.limit %>" data-currentPage="<%- pagination.firstPageNumber %>" data-sourceUrl="<%- offerSourceUrl %>">
          <% offers.forEach(function(offer) { %>
          <%- partial ('./partials/offersForList.ejs',{offer: offer}) %>
          <% }); %>
        </ul>
      </div>

      <div class="container elementWrapper  ">
        <% if (false !== showMap)  { %>
        <%- partial ('./partials/map/map.ejs', { mapType: showMap.mapType, demandSourceUrl: showMap.demandSourceUrl, offerSourceUrl: showMap.offerSourceUrl, demandMatchingSourceUrl: undefined}) %>
        <% } %>
      </div>
      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Demands')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Demands')%></h1>
      <%}%>
      <div class="container elementWrapper ">
          <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>" data-currentPage="<%- pagination.firstPageNumber %>" data-sourceUrl="<%- demandSourceUrl %>">
            <% demands.forEach(function(demand) { %>
            <%- partial ('./partials/demandsForList.ejs',{demand: demand}) %>
            <% }); %>
          </ul>
        </div>

      <% /* the following partials will be dynamically rendered by the browser's javascript
       * These are handlebar templates.
       * The rendered objects are coming from the webapp's AJAX endpoints, e.g. UserController::ajaxGet().
       */ %>
      <%- partial ('./partials/demandsForListAjax.ejs') %>
      <%- partial ('./partials/offersForListAjax.ejs') %>
    </div>
  </div> <!-- Big Screen-->

  <div class="container visible-xs-block">

    <div class="elementWrapper">
      <h1>MAP</h1>
    </div>

    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li><a href="#section-1">
              <% if (LoginService.userIsLoggedIn(req)) {%>
              <%= i18n('Your Offers')%>
              <%} else{%>
              <%= i18n('Recent Offers')%>
              <%}%></a>
          </li>
          <li><a href="#section-2">
              <% if (LoginService.userIsLoggedIn(req)) {%>
              <%= i18n('Your Demands')%>
              <%} else{%>
              <%= i18n('Recent Demands')%>
              <%}%></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <% offers.forEach(function(offer) { %>
            <%- partial ('./partials/offersForList.ejs',{offer: offer}) %>
          <% }); %>
        </section>
        <section id="section-2">
          <% demands.forEach(function(demand) { %>
            <%- partial ('./partials/demandsForList.ejs',{demand: demand}) %>
          <% }); %>
        </section>
      </div><!-- /content -->
    </div><!-- /tabs -->

  </div> <!--Small Screen-->
</div> <!--Main Container-->

<script>


</script>
