<div id= main class="container">
  <div class="container hidden-xs">
    <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <% if (offers.length > 0) { %>
              <%- partial ('./partials/recentOffersBig.ejs',{offer: offers[0]}) %>
            <% } %>
          </div>
            <% for(var i=0; i<offers.length; i++) {%>
              <div class="item">
                <%- partial ('./partials/recentOffersBig.ejs',{offer: offers[i]}) %>
              </div>
            <% } %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> <!-- Offer Carousel-->

    <div class="container">
      <div id="carousel-demand-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-demand-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-demand-generic" data-slide-to="1"></li>
          <li data-target="#carousel-demand-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <% if (demands.length > 0) { %>
            <%- partial ('./partials/recentDemandsBig.ejs',{demand: demands[0]}) %>
            <% } %>
          </div>
          <% for(var i=0; i<demands.length; i++) {%>
          <div class="item">
            <%- partial ('./partials/recentDemandsBig.ejs',{demand: demands[i]}) %>
          </div>
          <% } %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-demand-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-demand-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> <!-- Demand Carousel-->

  </div> <!-- Big Screen-->

  <div class="container visible-xs-block">

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#demands" aria-controls="demands" role="tab" data-toggle="tab"><%= i18n('Demands')%></a></li>
        <li role="presentation"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab"><%= i18n('Offers')%></a></li>
           </ul>

    </div> <!--TabPanel-->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="demands">
       <ul>
        <% demands.forEach(function(demand) { %>
        <%- partial ('./partials/recentDemandsSmall.ejs',{demand: demand}) %>
        <% }); %>
       </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="offers">
        <ul>
          <% offers.forEach(function(offer) { %>
          <%- partial ('./partials/recentOffersSmall.ejs',{offer: offer}) %>
          <% }); %>
        </ul>
      </div>
    </div>    <!-- Tab panes -->

  </div> <!--Small Screen-->

</div> <!--Main Container-->

<script>


</script>
