<div id="main" class="container">
  <!-- Description of our Site for unregistered Users-->
  <!--LINKS or TUTORIALS?-->
  <div class="contentContainer">
    <div class="text-center description" id="descriptionContainer">
      <h1 id="welcome"><%= i18n('Welcome to Neeedo.com') %></h1>
      <h1 id="subTitle" class="text-center"><%= i18n('subtitle') %></h1>

      <div class="mediumDescription">
        <div class="row">
          <div class="col-xs-4 descriptionText">
            <p>
              <%= i18n('demandText3') %>
            </p>
          </div>
          <div class="col-xs-4 descriptionText">
            <p>
              <%= i18n('offerText3') %>
            </p>
          </div>
          <div class="col-xs-4 descriptionText">
            <p>
              <%= i18n('locText3') %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button onclick="window.location.href='/#demandContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('descriptionBtn1') %></button>
          </div>
          <div class="col-xs-4">
            <button onclick="window.location.href='/#offerContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('descriptionBtn2') %></button>
          </div>
          <div class="col-xs-4">
            <button onclick="window.location.href='/#mapContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('descriptionBtn3') %></button>
          </div>
        </div>
      </div>
      <div class="smallDescription">
        <div class="row">
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              <%= i18n('Description1') %>
            </p>
            <button onclick="window.location.href='/#tabs'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Search for what you really need') %></button>
          </div>
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              <%= i18n('Description2') %>
            </p>
            <button onclick="window.location.href='/#tabs'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Find what you`re really looking for') %></button>
          </div>
          <div class="col-xs-12 smallDescriptionBox">
            <p class="descriptionText">
              <%= i18n('Description3') %>
            </p>
            <button onclick="window.location.href='/#mapContainer'"
                    class="neeedoBtn neeedoBtn--nuka "><%= i18n('Everything at your nearest') %></button>
          </div>
        </div>
      </div>
    </div>
    <div id="mapContainer">
      <% if (false !== showMap)  { %>
      <h1><%= i18n('In Your Vicinity') %></h1>
      <%- partial('./partials/map/map.ejs', {
        mapType: showMap.mapType,
        demandSourceUrl: showMap.demandSourceUrl,
        offerSourceUrl: showMap.offerSourceUrl,
        demandMatchingSourceUrl: undefined,
        showDetailsLink: true
      }) %>
      <% } %>
    </div>
  </div>

  <div class="hidden-xs">
    <div class="contentContainer" id="offerContainer">
      <h1><%= i18n('Recent Offers') %></h1>
      <% if(offers.length == 0){ %>
      <div class="noItemSlider">
        <p><%= i18n('norecentoffers') %></p>
      </div>
      <% } %>
      <ul id="lightSliderOffer"
          data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- offerSourceUrl %>"
          data-viewUrl="<%- OfferService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-displayFavorite="true"
        >
        <% offers.forEach(function(offer) { %>
        <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
        <% }); %>
      </ul>
    </div>

    <div class="contentContainer" id="demandContainer">
      <h1><%= i18n('Recent Demands') %></h1>
      <% if(demands.length == 0){ %>
      <div class="noItemSlider">
        <p> <%= i18n('norecentdemands') %></p>
      </div>
      <% } %>
      <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>"
          data-currentPage="<%- pagination.firstPageNumber %>"
          data-sourceUrl="<%- demandSourceUrl %>"
          data-viewUrl="<%- DemandService.getViewUrl() %>"
          data-translationPrice="<%= i18n('Price') %>"
          data-translationDistance="<%= i18n('Distance') %>"
        >

        <% demands.forEach(function(demand) { %>
        <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
        <% }); %>
      </ul>
    </div>
  </div>
  <!-- Big Screen-->
  <div class="visible-xs">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li>
            <a href="#section-1" class="icon-offer text-center"></a>
          </li>
          <li><a href="#section-2" class="icon-search text-center"></a>
          </li>
        </ul>
      </nav>
      <div class="content contentContainer">
        <section id="section-1">
          <% if(offers.length == 0){ %>
          <p><%= i18n('norecentoffers') %></p>
          <% }
            offers.forEach(function(offer) { %>
          <%- partial('./partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
          <% }); %>
        </section>
        <section id="section-2">
          <% if(demands.length == 0){ %>
          <p> <%= i18n('norecentdemands') %></p>
          <% }
            demands.forEach(function(demand) { %>
          <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
          <% }); %>
        </section>
      </div>
      <!-- /content -->
    </div>
    <!-- /tabs -->
    <!--Small Screen-->
  </div>
  <!--Main Container-->
  <div class="contentContainer text-center">
    <h1 class="center title"><%= i18n('AppDescriptionTitle') %></h1>

    <p class="descriptionText"><%= i18n('AppDescription') %>
    </p>

    <a href="<%- sails.config.webapp.android.playStore %>" alt="<%- i18n('Link to Android App') %>"><p class="center">
        <img src="images/appStore.png" class="centralImage"/></a>
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>


