<div id= main class="container">

    <div class=" container hidden-xs ">
        <h1><%= i18n("What's new?") %></h1>

    <div class="container">
      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Offers')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Offers')%></h1>
      <%}%>
      <div class="container elementWrapper ">
        <ul id="lightSliderOffer"
            data-itemLimit="<%- pagination.limit %>"
            data-currentPage="<%- pagination.firstPageNumber %>"
            data-sourceUrl="<%- offerSourceUrl %>"
            data-viewUrl="<%- OfferService.getViewUrl() %>"
            data-translationPrice="<%= i18n('Price') %>"
          >
          <% offers.forEach(function(offer) { %>
          <%- partial ('./partials/offersForList.ejs',{offer: offer}) %>
          <% }); %>
        </ul>
      </div>

      <div class="container elementWrapper  ">
        <% if (false !== showMap)  { %>
        <%- partial('./partials/map/map.ejs', {
            mapType: showMap.mapType,
            demandSourceUrl: showMap.demandSourceUrl,
            offerSourceUrl: showMap.offerSourceUrl,
            demandMatchingSourceUrl: undefined
        }) %>
        <% } %>
      </div>
      <% if (LoginService.userIsLoggedIn(req)) {%>
      <h1><%= i18n('Your Demands')%></h1>
      <%} else{%>
      <h1><%= i18n('Recent Demands')%></h1>
      <%}%>
      <div class="container elementWrapper ">
          <ul id="lightSliderDemand" data-itemLimit="<%- pagination.limit %>"
              data-currentPage="<%- pagination.firstPageNumber %>"
              data-sourceUrl="<%- demandSourceUrl %>"
              data-viewUrl="<%- DemandService.getViewUrl() %>"
              data-translationPrice="<%= i18n('Price') %>"
              data-translationDistance="<%= i18n('Distance') %>"
            >
            <% demands.forEach(function(demand) { %>
            <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
            <% }); %>
          </ul>
        </div>

      <% /* the following partials will be dynamically rendered by the browser's javascript
       * These are handlebar templates.
       * The rendered objects are coming from the webapp's AJAX endpoints, e.g. UserController::ajaxGet().
       */ %>
      <%- partial ('./partials/demandsForListAjax.ejs') %>
      <%- partial ('./partials/offersForListAjax.ejs') %>

      <% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>
    </div>
    <!-- Big Screen-->

    <div class="visible-xs-block container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li><a href="#section-1" class="icon-offer"><span>
                                <% if (LoginService.userIsLoggedIn(req)) { %>
                                <%= i18n('Your Offers') %>
                                <% } else{ %>
                                <%= i18n('Recent Offers') %>
                                <% } %>
                            </span></a>
                    </li>
                    <li><a href="#section-2" class="icon-demand"><span>
                                <% if (LoginService.userIsLoggedIn(req)) { %>
                                <%= i18n('Your Demands') %>
                                <% } else{ %>
                                <%= i18n('Recent Demands') %>
                                <% } %>
                            </span></a>
                    </li>
                </ul>
            </nav>
            <div class="content">
                <section id="section-1">
                    <% offers.forEach(function(offer) { %>
                    <%- partial('./partials/offersForList.ejs', {offer: offer}) %>
                    <% }); %>
                </section>
                <section id="section-2">
                    <% demands.forEach(function(demand) { %>
                    <%- partial('./partials/demandsForList.ejs', {demand: demand}) %>
                    <% }); %>
                </section>
            </div>
            <!-- /content -->
        </div>
        <!-- /tabs -->
        <!--Small Screen-->
    </div>
    <!--Main Container-->
</div>
