<div class="contentContainer" id="offerContainer">
  <h1><%= i18n('Favorite Offers') %></h1>

  <ul id="lightSliderOffer"
      data-itemLimit="<%- pagination.limit %>"
      data-currentPage="<%- pagination.firstPageNumber %>"
      data-sourceUrl="<%- undefined %>"
      data-viewUrl="<%- OfferService.getViewUrl() %>"
      data-translationPrice="<%= i18n('Price') %>"
    >
    <% if (0 == favoriteOffers.length) { %>
      <%- i18n("You didn't add any favorite offer yet.") %>
    <% } %>
    
    <% favoriteOffers.forEach(function(offer) { %>
    <%- partial('../partials/offersForList.ejs', {offer: offer}) %>
    <% }); %>
  </ul>
</div>
