<div id="map" class="map"
     data-mapType="<%= mapType %>"
     data-demandSourceUrl="<%- demandSourceUrl %>"
     data-offerSourceUrl="<%- offerSourceUrl %>"
     data-demandMatchingSourceUrl ="<%- demandMatchingSourceUrl %>"
     data-demandViewUrl="<%= DemandService.getViewUrl() %>"
     data-offerViewUrl="<%= OfferService.getViewUrl() %>"
     data-defaultLongitude="<%= LocaleService.getDefaultLongitude(req)%>"
     data-defaultLatitude="<%= LocaleService.getDefaultLatitude(req) %>"
     data-initialZoomStep="<%= MapService.getDefaultZoomStep() %>"
     data-itemLimit="<%= MapService.getItemLimit() %>"
     data-translationPrice="<%= i18n('Price') %>"
     data-translationDetails="<%= i18n('Details') %>"
     data-translationOffering="<%= i18n('Offering') %>"
     data-translationSearching="<%= i18n('Looking for') %>"
  >

</div>

<% /* the following partials will be dynamically rendered by the browser's javascript
   * These are handlebar templates.
   * The rendered objects are coming from the webapp's AJAX endpoints, e.g. DemandController::ajaxGet().
   */ %>
<%- partial ('./offerMarker.ejs') %>
<%- partial ('./demandMarker.ejs') %>
