<div id="map" class="map"
     data-mapType="<%= mapType %>"
     data-demandSourceUrl="<%= demandSourceUrl %>"
     data-offerSourceUrl="<%= offerSourceUrl %>"
     data-defaultLongitude="<%= LocaleService.getDefaultLongitude(req)%>"
     data-defaultLatitude="<%= LocaleService.getDefaultLatitude(req) %>"
     data-initialZoomStep="<%= MapService.getDefaultZoomStep() %>" >

</div>

<%- partial ('./offerMarker.ejs') %>
