<div id="main">
  <div class="contentContainer container">
    <div>
      <% if (0 == offers.length) { %>
      <img src="/images/neeedo_Logo_grey.png" alt="neeedo logo" class="greyLogo" />
      <p class="text-center"><%- i18n("Sorry, we couldn't find any matching offers for now. We will inform you if a new matching offer was created.") %></p>
      <p class="text-center"><%- i18n('You can try to improve your search tags to find matches.') %></p>
      <button class="neeedoBtn neeedoBtn--nuka" onclick="window.open('/dashboard','_parent');"
              ;><%= i18n('Dashboard') %></button>
      <% } %>
    </div>
    <% if (0 < offers.length) { %>
    <div>
      <h1><%= i18n('Matched offers') %></h1>

      <div class="hidden-xs">
        <ul id="lightSliderOffer"
            data-itemLimit="<%- pagination.limit %>"
            data-currentPage="<%- pagination.firstPageNumber %>"
            data-sourceUrl="<%- demandMatchingSourceUrl %>"
            data-viewUrl="<%- OfferService.getViewUrl() %>"
            data-translationPrice="<%= i18n('Price') %>"
            data-displayFavorite="true"
          >
          <% offers.forEach(function(offer) { %>
          <%- partial('../partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
          <% }); %>
        </ul>
      </div>

      <div class=" smallcontainer visible-xs">
        <% offers.forEach(function(offer) { %>
        <%- partial('../partials/offersForList.ejs', {offer: offer, displayFavorite: true}) %>
        <% }); %>
      </div>
      <div>
        <% if (false !== showMap) { %>
        <%- partial('../partials/map/map.ejs', {
          mapType: showMap.mapType,
          demandMatchingSourceUrl: showMap.demandMatchingSourceUrl,
          demandSourceUrl: undefined,
          offerSourceUrl: undefined,
          showDetailsLink: true
        }) %>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/slider.js"></script>') %>
