<div class="container">
  <div class="contentContainer">
    <div class="row">
      <div class="col-lg-12">
        <p>
          <%= i18n('Student project') %>
        </p>
      </div>
    </div>
    <h1><%- i18n("Impressum") %></h1>

    <p>
      <%- i18n("Legal Disclosure") %>
    </p>

    <p>
      <%- i18n("Disclosure Name") %>
    </p>

    <p>
      <%- i18n("Disclosure Address") %>
    </p>

    <h1><%- i18n("Contact") %></h1>

    <p>
      <%- i18n("Contact Telephone") %>
    </p>

    <p>
      <%- i18n("Contact Fax") %>
    </p>

    <p>
      <%- i18n("Contact Mail") %>
    </p>

    <h1><%- i18n("Disclaimer") %></h1>

    <h2><%- i18n("Accountability Content") %></h2>

    <p>
      <%- i18n("Accountability Content Text") %>
    </p>

    <h2><%- i18n("Accountability Links") %></h2>

    <p>
      <%- i18n("Accountability Links Text") %>
    </p>

    <h2><%- i18n("Copyright") %></h2>

    <p>
      <%- i18n("Copyright Text") %>
    </p>

    <h1><%- i18n("Privacy Statement") %></h1>

    <h2><%- i18n("General") %></h2>

    <p>
      <%- i18n("General Text") %>
    </p>

    <h2><%- i18n("Inventory data") %></h2>

    <p>
      <%- i18n("Inventory data Text") %>
    </p>

    <h2><%- i18n("Information about cookies") %></h2>

    <p>
      <%- i18n("Information about cookies Text") %>
    </p>

    <h2><%- i18n("Disclosure") %></h2>

    <p>
      <%- i18n("Disclosure Text") %>
    </p>
  </div>
</div>
