<div class="container elementWrapper">
  <h1><%- i18n("Impressum") %></h1>
  <p>
    <%- i18n("Legal Disclosure") %>
  </p>
  <p>
    <%- i18n("Disclosure Name") %>
  </p>
  <p>
    <%- i18n("Disclosure Address") %>
  </p>
  <h1><%- i18n("Contact") %></h1>
  <p>
    <%- i18n("Contact Telephone") %>
  </p>
  <p>
    <%- i18n("Contact Fax") %>
  </p>
  <p>
    <%- i18n("Contact Mail") %>
  </p>
  <h1><%- i18n("Disclaimer") %></h1>
  <h2><%- i18n("Accountability Content") %></h2>
  <p>
    <%- i18n("Accountability Content Text") %>
  </p>
  <h2><%- i18n("Accountability Links") %></h2>
  <p>
    <%- i18n("Accountability Links Text") %>
  </p>
  <h2><%- i18n("Copyright") %></h2>
  <p>
    <%- i18n("Copyright Text") %>
  </p>
</div>
