<div class="container elementWrapper">
  <h1 class="text-center" id="formHeading"><%= i18n('Create Demand') %></h1>
  <form id="createDemand" method="POST" class="form-style">
    <ul>
      <li>
        <label for="mustTagsDemand"><%= i18n('must have') %></label>
        <input type="text" class="providesTagCompletion" id="mustTagsDemand" name="mustTags" value="<%- mustTags %>" placeholder="<%= i18n('Bicycle, iPhone') %>" autofocus>
        <small class="inputMissing" id="errorTag"><%= i18n("Please enter at least one tag") %></small>
        <span><%= i18n('What are you looking for?') %></span>
        <div class="suggestedTags"></div>
      </li>
      <li>
        <label for="shouldTagsDemand"><%= i18n('should have') %></label>
        <input type="text" class="providesTagCompletion" id="shouldTagsDemand" name="shouldTags" value="<%- shouldTags %>" placeholder="<%= i18n('blue, screen protector') %>">
        <span><%= i18n('Feature list') %></span>
        <div class="suggestedTags"></div>
      </li>
      <li class="priceCol leftCol">
        <label for="minPriceDemand"><%= i18n("Price from") %></label>
        <input type="number" id="minPriceDemand" step="any" min="0" name="minPrice" />
        <small class="inputMissing" id="errorMinPrice"><%= i18n("Please enter a min price") %></small>
        <span><%= i18n('Minimum price in €') %></span>
      </li>
      <li class="priceCol rightCol">
        <label for="maxPriceDemand"><%= i18n("Price to") %></label>
        <input type="number" id="maxPriceDemand" step="any" min="0" name="maxPrice" />
        <small class="inputMissing" id="errorMaxPrice"><%= i18n("Please enter a max price") %></small>
        <small class="inputMissing" id="errorMaxMin"><%= i18n("Min price must be smaller than max price") %></small>
        <span><%= i18n('Maximum price in €') %></span>
      </li>
      <li class="clear">
        <div id="slider-range"></div>
      </li>
      <li id="locationCol" class="leftCol">
        <label for="useGeolocation"><%= i18n("Location") %></label>
        <div class="checkboxContainer">
          <input type="checkbox" id="useGeolocation" checked
                 data-translationNoGeolocation="<%= i18n("We couldn't determine your location. Please check your browser settings or type in your desired address directly.") %>"
                 data-translationNoAddress="<%= i18n("Please enter an valid address.") %>">
        </div>
        <span><%= i18n("Use current location") %></span>
        <input type="hidden" name="lat" id="latDemand" value="<%- lat %>"/>
        <input type="hidden" name="lng" id="lonDemand" value="<%- lng %>"/>
      </li>
      <li id="addressContainer" class="ui-widget rightCol">
        <label for="address" id="addressLabel"><%= i18n('Address') %></label>
        <input type="text" id="address" class="disabled" name="address">
        <small class="inputMissing" id="errorLoc"><%= i18n('Please enter a location') %></small>
        <span><%= i18n("Type in your address") %></span>
      </li>
      <li id="distCol" class="clear">
        <label for="maxDistanceDemand"><%= i18n("Maximum distance") %></label>
        <input type="number" id="maxDistanceDemand" name="distance" min="0" value="<%- distance %>" placeholder="15"/>
        <small class="inputMissing" id="errorDistance">Please enter a distance</small>
        <span><%= i18n('Maximum distance in km') %></span>
      </li>
      <li id="submitBtn">
        <button id="createDemandBtn" onclick="return validateDemandForm()" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Send') %></button>
      </li>
    </ul>
  </form>
  <div id="loading">
    <h2 id="loadingMsg" class="text-center"><%= i18n("Please wait") %></h2>
    <img src="/images/loading.gif" alt="Loading Image" />
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/demands-offers.js"></script>') %>

