<div class="row">
  <div class="col-md-5">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><%= i18n(title) %></h4>
  </div>
</div>

<% if (LoginService.userIsLoggedIn(req)) { %>
<form method="POST" id="createMessage" action="<%= MessageService.getCreateUrl() %>">
  <div class="row">
    <div class="col-md-5">
      <label for="messageBody"><%= i18n("Message") %></label>
      <textarea id="messageBody"><%- defaultMessage %></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button type="submit" class="btn btn-default" data-dismiss="modal">
        <%= i18n('Send') %>
      </button>
    </div>
  </div>
</form>
<% } else { %>
<p><%= i18n(notLoggedInMessage) %></p>
<% } %>
</div>



