<form method="POST" class="form-style" id="createMessage" action="<%= MessageService.getCreateUrl() %>">
  <% if (!LoginService.userIsLoggedIn(req) || recipientId != LoginService.getCurrentUser(req).getId()) { %>
  <% if (LoginService.userIsLoggedIn(req)) { %>
  <h4 class="formHeading text-center"><%= i18n(title) %></h4>
  <% } else { %>
  <h4 class="formHeading text-center"><a href="<%- LoginService.getLoginUrl() %>"><%= i18n(title) %></a></h4>
  <% } %>
  <% } %>
  <% if (LoginService.userIsLoggedIn(req) && recipientId != LoginService.getCurrentUser(req).getId()) { %>
  <ul>
    <li>
      <label for="messageBody"><%= i18n('Message') %></label>
      <textarea id="messageBody" name="messageBody"><%- defaultMessage %></textarea>
      <small class="inputMissing" id="errorTag"><%= i18n("Please enter a messages") %></small>
      <span><%= i18n('Your message') %></span>
      <input type="hidden" name="recipientId" value="<%- recipientId %>"/>
    </li>
    <li id="submitBtn">
      <button type="submit" data-dismiss="modal" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Send') %></button>
    </li>
  </ul>
</form>
<% } else if (!LoginService.userIsLoggedIn(req)) { %>
<p><%= i18n(notLoggedInMessage) %></p>
<% } %>



