  <form id="createOffer" method="POST" class="form-style">
    <ul>
      <li class="tagRelative">
        <label for="tagsOffer"><%= i18n('I offer') %></label>
        <input type="text" class="providesTagCompletion" id="tagsOffer" name="tags" value="<%- (undefined !== typeof tags ? tags : "") %>" autocomplete="off" data-placeholder="<%- i18n('e.g. iPhone, 6, black') %>">
        <small class="inputMissing" id="errorTag"><%= i18n('Please enter at least one tag') %></small>

        <% if ('tags' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.tags %></span>
        <% } %><small id="suggestedTagsHeader" class="hide">
          <%= i18n('Often entered together:') %>
        </small>
        <div class="suggestedTags" data-limit="<%= tagOptions.suggestions.limit %>"></div>
        <div id="helpTags" class="helper">
          ?
        </div>
        <small id="helpText"><%= i18n('Separate your Tags by typing in a \',\' or by using tabulator') %></small>
      </li>
      <li>
        <label for="priceOffer"><%= i18n('Price') %></label>
        <input type="number" id="priceOffer" name="price" step="any" min="0" value="<%- (undefined !== typeof price ? price : "") %>" placeholder="<%= i18n('Price Placeholder') %>">
        <small class="inputMissing" id="errorPrice"><%= i18n('Please enter a price') %></small>
        <% if ('price' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.price %></span>
        <% } %>
      </li>
      <li id="locationCol" class="leftCol">
        <label for="useGeolocation" id="useGeoLocLabel"><%= i18n("Location") %></label>
        <div class="checkboxContainer">
          <input type="checkbox" id="useGeolocation" checked
                 data-translationNoGeolocation="<%= i18n("We couldn't determine your location. Please check your browser settings or type in your desired address directly.") %>"
                 data-translationNoAddress="<%= i18n("Please enter an valid address.") %>">
        </div>
        <input type="hidden" name="lat" id="latDemand" value="<%- (undefined !== typeof lat ? lat : "") %>"/>
        <input type="hidden" name="lng" id="lonDemand" value="<%- (undefined !== typeof lng ? lng : "") %>"/>
      </li>
      <li id="addressContainer" class="ui-widget rightCol">
        <label for="address" id="addressLabel"><%= i18n('Address') %></label>
        <input type="text" id="address" name="address" autocomplete="off">
        <small class="inputMissing" id="errorLoc"><%= i18n('Please enter a location') %></small>
        <% if ('lat' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.lat %></span>
        <% } %>
        <% if ('lng' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.lng %></span>
        <% } %>
      </li>
      <li>
        <input id="showUpload" type="button" value="<%= i18n("Add images") %>">
      </li>
      <li id="imgUploadStep" class="clear hideLi">
        <label for="images[]"><%= i18n("Image upload") %></label>
        <%- partial('./offer-fileupload.ejs', { renderMessages: false, renderPreviewImages: false }) %>
        <select multiple name="images[]" style="display: none" id="offerImages">
        <% if (undefined !== images && typeof images.getImages === 'function') { number = 0;
          images.getImages().forEach(function(image) { %>
          <% /* we have to use a multiselect here, hidden input field with name images[] won't work in the javascript */%>
          <option value="<%= image.getFileName() %>" selected="selected"></option>
        <% number++; })} %>
        </select>
        <% // Tag suggestion will be rendered here %>
        <div class="fileupload-validation-messages"><%- partial('./offer-fileupload-messages.ejs') %></div>
        <div class="fileupload-preview-images"><%- partial('./offer-fileupload-previewimages.ejs') %></div>
        <% if ('images' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.images %></span>
        <% } %>
      </li>
      <li id="submitBtn" class="clear">
        <button id="createOfferBtn" onclick="return validateOfferForm()" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Send') %></button>
      </li>
    </ul>
  </form>
  <div id="loading">
    <h2 id="loadingMsg" class="text-center"><%= i18n("Please wait") %></h2>
    <img src="/images/loading.gif" alt="Loading Image" />
  </div>

<% /* the following partial will be dynamically rendered by the browser's javascript
 * This is are handlebar templates.
 * The rendered objects are coming from the webapp's AJAX endpoints, e.g. FileController::uploadAjax
 */ %>
<%- partial('./offer-previewImages.ejs') %>

<% block('localScripts', '<script src="/js/localscripts/demands-offers.js"></script>') %>
