<div class="container elementWrapper">
  <h1 class="text-center" id="formHeading"><%= i18n('Create Offer') %></h1>
  <form id="createOffer" method="POST" class="form-style">
    <ul>
      <li>
        <label for="title"><%= i18n('Title') %></label>
        <input type="text" id="title" name="title" placeholder="<%= i18n('Bicycle, iPhone') %>" autofocus>
        <small class="inputMissing" id="errorTitle"><%= i18n('Please enter a title') %></small>
        <span><%= i18n('What are you offering?') %></span>
      </li>
      <li>
        <label for="tagsOffer"><%= i18n('must have') %></label>
        <input type="text" class="providesTagCompletion" id="tagsOffer" name="tags" value="<%- tags %>" placeholder="<%= i18n('blue, screen protector') %>">
        <small class="inputMissing" id="errorTag"><%= i18n('Please enter at least one tag') %></small>
        <span><%= i18n('What features does your offer have?') %></span>

        <div class="suggestedTags"></div>
      </li>
      <li>
        <label for="priceOffer"><%= i18n('Price') %></label>
        <input type="number" id="priceOffer" name="price" value="<%- price %>" placeholder="14">
        <small class="inputMissing" id="errorPrice"><%= i18n('Please enter a price') %></small>
        <span><%= i18n('Price in €') %></span>
      </li>
      <li id="locationCol" class="leftCol">
        <label for="useGeolocation"><%= i18n("Location") %></label>
        <div class="checkboxContainer">
          <input type="checkbox" id="useGeolocation" checked
                 data-translationNoGeolocation="<%= i18n("We couldn't determine your location. Please check your browser settings or type in your desired address directly.") %>"
                 data-translationNoAddress="<%= i18n("Please enter an valid address.") %>">
        </div>
        <span><%= i18n("Use current location") %></span>
        <input type="hidden" name="lat" id="latDemand" value="<%- lat %>"/>
        <input type="hidden" name="lng" id="lonDemand" value="<%- lng %>"/>
      </li>
      <li id="addressContainer" class="ui-widget rightCol">
        <label for="address" id="addressLabel"><%= i18n('Address') %></label>
        <input type="text" id="address" class="disabled" name="address">
        <small class="inputMissing" id="errorLoc">Please enter a location</small>
        <span><%= i18n("Type in your address") %></span>
      </li>
      <li>
        <input id="showUpload" type="button" value="<%= i18n("Add images") %>">
      </li>
      <li id="imgUploadStep" class="clear hideLi">
        <label for="images[]"><%= i18n("Image upload") %></label>
        <%- partial('./offer-fileupload.ejs', { renderMessages: false, renderPreviewImages: false }) %>
        <% images.getImages().forEach(function(image) { %>
        <input type="hidden" id="images[]" name="images[]" value="<%= image.getFileName() %>">
        <% }) %>
        <% // Tag suggestion will be rendered here %>
        <div class="fileupload-validation-messages"><%- partial('./offer-fileupload-messages.ejs') %></div>
        <div class="fileupload-preview-images"><%- partial('./offer-fileupload-previewimages.ejs') %></div>
      </li>
      <li id="submitBtn" class="clear">
        <button id="createOfferBtn" onclick="return validateOfferForm()" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Send') %></button>
      </li>
    </ul>
  </form>
  <div id="loading">
    <h2 id="loadingMsg" class="text-center"><%= i18n("Please wait") %></h2>
    <img src="/images/loading.gif" alt="Loading Image" />
  </div>
</div>

<% /* the following partial will be dynamically rendered by the browser's javascript
 * This is are handlebar templates.
 * The rendered objects are coming from the webapp's AJAX endpoints, e.g. FileController::uploadAjax
 */ %>
<%- partial('./offer-previewImages.ejs') %>

<% block('localScripts', '<script src="/js/localscripts/demands-offers.js"></script>') %>
