
  <form id="createOffer" method="POST" class="form-style">
    <ul>
      <li class="odd">
        <label for="tagsOffer"><%= i18n('must have') %></label>
        <input type="text" class="providesTagCompletion" id="tagsOffer" name="tags" value="<%- (undefined !== typeof tags ? tags : "") %>" placeholder="<%= i18n('blue, screen protector') %>">
        <small class="inputMissing" id="errorTag"><%= i18n('Please enter at least one tag') %></small>

        <% if ('tags' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.tags %></span>
        <% } %>

        <span><%= i18n('What features does your offer have?') %></span>

        <div class="suggestedTags"></div>
      </li>
      <li class="even">
        <label for="priceOffer"><%= i18n('Price') %></label>
        <input type="number" id="priceOffer" name="price" step="any" min="0" value="<%- (undefined !== typeof price ? price : "") %>" placeholder="14">
        <small class="inputMissing" id="errorPrice"><%= i18n('Please enter a price') %></small>

        <% if ('price' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.price %></span>
        <% } %>

        <span><%= i18n('Price in €') %></span>
      </li>
      <li id="locationCol" class="leftCol odd">
        <label for="useGeolocation"><%= i18n("Location") %></label>
        <div class="checkboxContainer">
          <input type="checkbox" id="useGeolocation" checked
                 data-translationNoGeolocation="<%= i18n("We couldn't determine your location. Please check your browser settings or type in your desired address directly.") %>"
                 data-translationNoAddress="<%= i18n("Please enter an valid address.") %>">
        </div>
        <span><%= i18n("Use current location") %></span>
        <input type="hidden" name="lat" id="latDemand" value="<%- (undefined !== typeof lat ? lat : "") %>"/>
        <input type="hidden" name="lng" id="lonDemand" value="<%- (undefined !== typeof lng ? lng : "") %>"/>
      </li>
      <li id="addressContainer" class="ui-widget rightCol odd">
        <label for="address" id="addressLabel"><%= i18n('Address') %></label>
        <input type="text" id="address" class="disabled" name="address">
        <small class="inputMissing" id="errorLoc"><%= i18n('Please enter a location') %></small>

        <% if ('lat' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.lat %></span>
        <% } %>

        <% if ('lng' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.lng %></span>
        <% } %>

        <span><%= i18n("Type in your address") %></span>
      </li>
      <li class="even">
        <input id="showUpload" type="button" value="<%= i18n("Add images") %>">
      </li>
      <li id="imgUploadStep" class="clear hideLi odd">
        <label for="images[]"><%= i18n("Image upload") %></label>
        <%- partial('./offer-fileupload.ejs', { renderMessages: false, renderPreviewImages: false }) %>
        <% if (undefined !== images) { images.getImages().forEach(function(image) { %>
        <input type="hidden" id="images[]" name="images[]" value="<%= image.getFileName() %>">
        <% })} %>
        <% // Tag suggestion will be rendered here %>
        <div class="fileupload-validation-messages"><%- partial('./offer-fileupload-messages.ejs') %></div>
        <div class="fileupload-preview-images"><%- partial('./offer-fileupload-previewimages.ejs') %></div>
        <% if ('images' in validationMessages) { %>
        <span class="inputError"><%= validationMessages.images %></span>
        <% } %>
      </li>
      <li id="submitBtn" class="clear even">
        <button id="createOfferBtn" onclick="return validateOfferForm()" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Send') %></button>
      </li>
    </ul>
  </form>
  <div id="loading">
    <h2 id="loadingMsg" class="text-center"><%= i18n("Please wait") %></h2>
    <img src="/images/loading.gif" alt="Loading Image" />
  </div>

<% /* the following partial will be dynamically rendered by the browser's javascript
 * This is are handlebar templates.
 * The rendered objects are coming from the webapp's AJAX endpoints, e.g. FileController::uploadAjax
 */ %>
<%- partial('./offer-previewImages.ejs') %>

<% block('localScripts', '<script src="/js/localscripts/demands-offers.js"></script>') %>
