<% // image chooser  %>
<div id="fileupload"
     action="<%= FileService.getImageUploadUrl() %>"
     method="post"
     enctype="multipart/form-data"
     data-allowedTypes="<%= FileService.getImageValidator(i18n).getAllowedMimeTypes().join(';') %>"
     data-maxAllowedSize="<%= FileService.getImageValidator(i18n).getMaxAllowedSizeInBytes() %>"
     data-maxNumberOfFiles="<%= FileService.getImageValidator(i18n).getMaxAllowedCountOfImages() %>"
     data-ajaxUploadUrl="<%= FileService.getAjaxImageUploadUrl() %>"
  >
  <div>
    <p id="fileUploadDescription">
      <% FileService.getImageValidator(i18n).getDescriptions().forEach(
      function (description) { %>
      <%= description['key'] %>: <%= description['value'] %> <br>
      <% }) %>
      <%= i18n('Drop files here or click to upload.') %> <br>
    </p>
    <input type="file" name="files" id="fileupload-input" />

      <!--<input type="button" id="fileupload-submit" value="<%= i18n('Upload images') %>">-->
  </div>
  <% if (renderMessages) { %>
    <%- partial('./offer-fileupload-messages.ejs') %>
  <% } %>
  <% if (renderPreviewImages) { %>
    <%- partial('./offer-fileupload-previewimages.ejs') %>
  <% } %>
</div>


<% block('localScripts', '<script src="/js/localscripts/image-upload.js"></script>') %>

