<div id="fileupload-messages"
     data-messageNoFiles="<%= i18n('Please select at least one file.') %>"
     data-messageInvalidType="<%= i18n('The file %%FILE%% has a type that is not allowed.') %>"
     data-messageFileTooLarge="<%= i18n('The file %%FILE%% is too large.') %>"
     data-messageTooManyFiles="<%= i18n('You choosed too many files.') %>"
     data-messageUploadError="<%= i18n('Error - unable to upload files. Please contact Neeedo customer care.') %>"
     data-messageDelete="<%= i18n('Delete') %>"
  >
  <% //upload messages will be shown here  %>
</div>
