<div id="registerContainer" class="container">
  <div class="contentContainer">
    <h1 class="text-center" id="successHeader"><%= i18n('Welcome to Neeedo, %s!', username) %></h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="row helpPageHeight">
          <div class="col-lg-9">
            <h4 class="text-center"><%= i18n('Create offers your customers will find') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/offers_pin.png" alt="Offer"/>
          </div>
        </div>
        <p class="text-center">
          <%= i18n('offerText1') %>
        </p>
        <p class="text-center">
          <%= i18n('offerText2') %>
        </p>
        <p class="text-center">
          <%= i18n('offerText3') %>
        </p>
        <img class="helpImg" src="/images/offer.png" alt="Offer Example"/>
        <button onclick="location.href='/offers/create'" id="createOfferBtn"
                class="neeedoBtn neeedoBtn--nuka"><%= i18n('Create your first offer now') %></button>
      </div>
      <div class="col-lg-4">
        <div class="row helpPageHeight">
          <div class="col-lg-9">
            <h4 class="text-center"><%= i18n('Find what you`re really looking for') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/demands_pin.png" alt="Demand"/>
          </div>
        </div>
        <p class="text-center">
          <%= i18n('demandText1') %>
        </p>
        <p class="text-center">
          <%= i18n('demandText2') %>
        </p>
        <p class="text-center">
          <%= i18n('demandText3') %>
        </p>
        <img class="helpImg" src="/images/demand.png" alt="Demand Example"/>
        <button onclick="location.href='/demands/create'" id="createOfferBtn"
                class="neeedoBtn neeedoBtn--nuka"><%= i18n('Create your first demand now') %></button>
      </div>
      <div class="col-lg-4">
        <div class="row helpPageHeight">
          <div class="col-lg-9">
            <h4 class="text-center"><%= i18n('Everything you want at your nearest') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/user_pin.png" alt="User"/>
          </div>
        </div>
        <p class="text-center">
          <%= i18n('locText1') %>
        </p>
        <p class="text-center">
          <%= i18n('locText2') %>
        </p>
        <p class="text-center">
          <%= i18n('locText3') %>
        </p>
        <img class="helpImg" src="/images/map.png" alt="Map Example"/>
      </div>
    </div>
  </div>
</div>
