<div class="contentContainer container">
  <div id="registrationForms">
    <div class="row">
      <div class="col-md-6" id="registrationContainer">
        <form method="POST" id="register" class="form form-style">
          <h1><%= i18n('Registration') %></h1>
          <label for="username"><%= i18n('Username') %></label>
          <div class="row">
            <div class="col-md-12">
              <input id="username" class="glowing-border" type="text" name="username" value="<%- (undefined !== typeof username ? username : "") %>" autofocus/>
              <small class="inputMissing" id="errorRegisterName"><%= i18n("Please enter a name") %></small>

              <% if ('username' in validationMessages) { %>
              <span class="inputError"><%= validationMessages.username %></span>
              <% } %>
            </div>
          </div>
          <label for="email"><%= i18n('E-Mail') %></label>
          <div class="row">
            <div class="col-md-12">
              <input id="email" class="glowing-border" type="email" name="email"  value="<%- (undefined !== typeof email ? email : "") %>"/>
              <small class="inputMissing" id="errorRegisterMail"><%= i18n("Please enter an e-mail") %></small>

              <% if ('email' in validationMessages) { %>
              <span class="inputError"><%= validationMessages.email %></span>
              <% } %>
            </div>
          </div>
          <label for="password"><%= i18n('Password') %></label>
          <div class="row">
            <div class="col-md-12">
              <input id="password" class="glowing-border" type="password" name="password"/>
              <small class="inputMissing" id="errorRegisterPassword"><%= i18n("Please enter a password") %></small>

              <% if ('password' in validationMessages) { %>
              <span class="inputError"><%= validationMessages.password %></span>
              <% } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button onclick="return validateRegisterForm()" id="registerBtn" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Register') %></button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6" id="loginContainer">
        <form method="POST" id="loginForm" class="form form-style" action="<%= UrlService.to('/login') %>">
          <h1><%= i18n('Login Header') %></h1>
          <label for="email"><%= i18n('E-Mail') %></label>
          <div class="row">
            <div class="col-md-12">
              <input id="email" class="glowing-border" type="email" name="email" />
              <small class="inputMissing" id="errorFormMail"><%= i18n("Please enter an e-mail") %></small>
            </div>
          </div>
          <label for="password"><%= i18n('Password') %></label>
          <div class="row">
            <div class="col-md-12">
              <input id="password" class="glowing-border" type="password" name="password" />
              <small class="inputMissing" id="errorFormPassword"><%= i18n("Please enter a password") %></small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button onclick="return validateLoginForm()" id="loginBtn" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Login') %></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/frontendValidation.js"></script>') %>
