<div id="registerContainer" class="container">
  <div class="contentContainer">
    <h1 class="text-center" id="successHeader"><%= i18n('Welcome to Neeedo, %s!', username) %></h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-9">
            <h4><%= i18n('Create offers your customers will find') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/offers_pin.png" alt="Offer"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-9">
            <h4><%= i18n('Find what you`re really looking for') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/demands_pin.png" alt="Demand"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-9">
            <h4><%= i18n('Everything at your nearest') %></h4>
          </div>
          <div class="col-lg-3">
            <img class="helpIcons" src="/images/icons/user_pin.png" alt="User"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p><%= i18n('Landing page offer text') %></p>
      </div>
      <div class="col-lg-4">
        <p><%= i18n('Landing page demand text') %></p>
      </div>
      <div class="col-lg-4">
        <p><%= i18n('Landing page map text') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="helpImg" src="/images/offer.png" alt="Offer Example"/>
      </div>
      <div class="col-lg-4">
        <img class="helpImg" src="/images/demand.png" alt="Demand Example"/>
      </div>
      <div class="col-lg-4">
        <img class="helpImg" src="/images/map.png" alt="Map Example"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <button onclick="location.href='/offers/create'" id="createOfferBtn"
                class="neeedoBtn neeedoBtn--nuka"><%= i18n('Create your first offer now') %></button>
      </div>
      <div class="col-lg-4">
        <button onclick="location.href='/demands/create'" id="createOfferBtn"
                class="neeedoBtn neeedoBtn--nuka"><%= i18n('Create your first demand now') %></button>
      </div>
    </div>
  </div>
</div>
