<div class="container">
  <div class="container elementWrapper shadow" id="registrationForms">
      <div class="row">
        <div class="col-md-6">
          <h1><%= i18n('Registration') %></h1>
          <form method="POST" id="register" class="form">
            <div class="row">
              <div class="col-md-3">
                <label for="username"><%= i18n('Username') %></label>
              </div>
              <div class="col-md-7">
                <input class="glowing-border" type="text" name="username" autofocus required/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="email"><%= i18n('E-Mail') %></label>
              </div>
              <div class="col-md-7">
                <input class="glowing-border" type="email" name="email" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="password"><%= i18n('Password') %></label>
              </div>
              <div class="col-md-7">
                <input class="glowing-border" type="password" name="password" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-3">
                <input class="formBtn btn2" type="submit" value="<%= i18n('Register') %>" id="registerBtn" />
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h1><%= i18n('Login') %></h1>
          <form method="POST" id="loginForm" class="form" action="<%= UrlService.to('/login') %>">
            <div class="row">
              <div class="col-md-3">
                <label for="email"><%= i18n('E-Mail') %></label>
              </div>
              <div class="col-md-7">
                <input id="email" class="glowing-border" type="email" name="email" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="password"><%= i18n('Password') %></label>
              </div>
              <div class="col-md-7">
                <input id="password" class="glowing-border" type="password" name="password" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-3">
                <input class="formBtn btn2" type="submit" value="<%= i18n('Login') %>" id="loginBtn" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
