<div class="container">
  <div class="elementWrapper" id="registrationForms">
    <div class="row">
      <div class="col-md-6" id="registrationContainer">
        <form method="POST" id="register" class="form form-style">
          <h1><%= i18n('Registration') %></h1>
          <div class="row">
            <div class="col-md-3">
              <label for="username"><%= i18n('Username') %></label>
            </div>
            <div class="col-md-7">
              <input class="glowing-border" type="text" name="username" autofocus required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="email"><%= i18n('E-Mail') %></label>
            </div>
            <div class="col-md-7">
              <input class="glowing-border" type="email" name="email" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="password"><%= i18n('Password') %></label>
            </div>
            <div class="col-md-7">
              <input class="glowing-border" type="password" name="password" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-md-offset-3">
              <button id="registerBtn" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Register') %></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6" id="loginContainer">
        <form method="POST" id="loginForm" class="form form-style" action="<%= UrlService.to('/login') %>">
          <h1><%= i18n('Login') %></h1>
          <div class="row">
            <div class="col-md-3">
              <label for="email"><%= i18n('E-Mail') %></label>
            </div>
            <div class="col-md-7">
              <input id="email" class="glowing-border" type="email" name="email" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="password"><%= i18n('Password') %></label>
            </div>
            <div class="col-md-7">
              <input id="password" class="glowing-border" type="password" name="password" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-md-offset-3">
              <button id="loginBtn" class="neeedoBtn neeedoBtn--nuka"><%= i18n('Login') %></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
