<div class="col-xs-2">

  <% if (!LoginService.userIsLoggedIn(req)) { %>
  <div class="headerIconBig">
    <a type="button" data-toggle="modal" data-target="#myModal"><span
        class=" icon-enter"></span><p class="hidden-xs"><%= i18n('Login') %></p>
    </a>
  </div>
  <% } %>
  <% if (LoginService.userIsLoggedIn(req)) { %>

  <div class="headerIconBig">
      <a href="<%= UrlService.to('/logout') %>">
        <span class="icon-exit"></span><p class="hidden-xs"><%= i18n('Logout') %></p>
      </a>

    </div>
  <% } %>

</div>

<!-- LOGINMODAL-->
<form class="trans" method="POST" action="<%= UrlService.to('/login') %>">
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"><%= i18n('Please Login') %></h4>
        </div>
        <div class="modal-body">
          <div class="input-group input-group-lg login-inputs">
            <span class="input-group-addon" id="sizing-addon1"><%= i18n('E-Mail') %></span>
            <input id="email" type="email" name="email" class="form-control glowing-border"
                   placeholder="<%= i18n('E-Mail') %>" aria-describedby="sizing-addon1" required/>
          </div>
          <div class="input-group input-group-lg login-inputs">
            <span class="input-group-addon" id="sizing-addon2"><%= i18n('Password') %></span>
            <input id="password" type="password" name="password" class="form-control"
                   placeholder="<%= i18n('Password') %>" aria-describedby="sizing-addon2" required/>
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn" type="submit" id="sendbtn" value="<%= i18n('Login') %>"/>
        </div>
      </div>
    </div>
  </div>
</form>
