<% if (!LoginService.userIsLoggedIn(req)) { %>
<div class="col-xs-1">
  <div class="headerIconBig">
    <a href="<%= UrlService.to('/register') %>">
      <span class="icon-user-plus"></span>

      <p class="hidden-xs"><%= i18n('Register') %></p></a>
  </div>

</div>
<% } %>
<% if (LoginService.userIsLoggedIn(req)) { %>
<div class="col-xs-3">
  <div class="col-xs-5">
    <div class="headerIconBig">
      <a href="<%= FavoritesService.getFavoritesUrl() %>"><span
          class="icon-eye"></span><p class="hidden-xs"><%= i18n('Favorites') %></p></a>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="headerIconBig">
      <a href="<%= UrlService.to('/mailbox') %>"><span
          class="icon-envelop"></span>

        <p class="hidden-xs"><%= i18n('Mailbox') %></p></a>

      <div class="newMsgCount"></div>
    </div>

  </div>
</div>

<% } %>
<% if (LoginService.userIsLoggedIn(req)) { %>
<% block('localScripts', '<script src="/js/localscripts/messages.js"></script>') %>
<% } %>
